# .gitignore для Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env
*.log
!*.ipynb

.ipynb_checkpoints/
tools/.ipynb_checkpoints/
.pytest_cache/

test_projects/

build/
dist/
!tests/
omd2tex.egg-info/
